<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <script type="text/javascript">
            var customers = JSON.parse('<%- JSON.stringify(customers) %>');
        </script>
        <script type="text/javascript" src="/js/order/order.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/order/order.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css" />
</head>

<body>

    <% include ../../partials/nav-in.ejs %>
        <div class="row col s12 light-blue darken-4 white-text header-layer">
            <h5 style="margin-left: 10px;">Vytvoriť zákazku</h5>
        </div>
        <div class="row">
            <div id="right-container" class="panel-group col s6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Zákazník</div>
                    <div class="row">

                        <h4><span id="done-customer" class="label label-primary orange lighten-3">Zákazník nie je vybraný</span></h4>

                        <div id="find-customer" class="input-field">
                            
                            <input type="text" id="autocomplete-input" class="autocomplete" style="margin-top: 10px;">
                            <label for="autocomplete-input" style="margin-top: 10px;"><i class="material-icons prefix">search</i></label>
                        </div>

                        <ul id="select-customer" class="collapsible panel panel-primary" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons grey-text">people</i>Vybrať v zozname
                                </div>
                                <div class="collapsible-body">
                                    <div class="collection" style="margin-top: 0px;">
                                        <% customers.forEach(function(customer) { %>
                                            <a id="<%= customer._id %>" href="#" class="selected collection-item black-text" style="text-decoration: none;">
                                                <%= customer.name %>
                                            </a>
                                            <% }); %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" class="customer-input" type="text">
                            <label id="email-label" for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="phone" class="customer-input" type="text">
                            <label id="phone-label" for="phone">Tel. číslo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s9">
                            <input id="street" class="customer-input" type="text">
                            <label id="street-label" for="street">Ulica</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="num" class="customer-input" type="text">
                            <label id="num-label" for="num">Číslo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s9">
                            <input id="city" class="customer-input" type="text">
                            <label id="city-label" for="city">Mesto</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="zip" class="customer-input" type="text">
                            <label id="zip-label" for="zip">PSČ</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="ico" class="customer-input" type="text">
                            <label id="ico-label" for="ico">IČO</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="icdph" class="customer-input" type="text">
                            <label id="icdph-label" for="icdph">IČ DPH</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="dic" class="customer-input" type="text">
                            <label id="dic-label" for="dic">DIČ</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="left-container" class="panel-group col s6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Zákazka</div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="price" class="order-input" type="text">
                            <label id="price-label" for="dic">Popis</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix grey-text">event</i>
                            <input type="text" class="datepicker order-input" id="date">
                            <label id="date-label" for="date">Dátum</label>
                        </div>
                        <div class="input-field col s4">
                            <i class="material-icons prefix grey-text">schedule</i>
                            <input type="text" class="timepicker" id="time">
                            <label id="time-label" for="time">Čas</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="price" class="order-input" type="number">
                            <label id="price-label" for="price">Dohodnutá cena ( € )</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="fixed-action-btn">
            <a class="btn-floating btn-large light-blue darken-4">
            <i id="create" class="large material-icons">save</i>
        </a>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });
        </script>

</body>

</html>