<nav class="light-blue darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">PaP</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Domov</a></li>
            <li><a href="#">Zákazky</a></li>
            <li><a href="#">Zákazníci</a></li>
            <li><a href="#">Nastavenia</a></li>
        </ul>
    </div>
</nav>