<nav class="light-blue darken-4">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Domov</a></li>
            <li><a href="#">Zákazky</a></li>
            <li><a href="#">Zákazníci</a></li>
            <li><a href="#">Nastavenia</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Domov</a></li>
            <li><a href="#">Zákazky</a></li>
            <li><a href="#">Zákazníci</a></li>
            <li><a href="#">Nastavenia</a></li>
        </ul>
    </div>
</nav>