<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
    <script type="text/javascript" src="js/customer.js"></script>
</head>

<body>

    <% include ../../partials/nav-in.ejs %>

        <div class="row" style="margin-bottom: 0px; margin-top: 10px;">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Hľadať zákazníka</label>
                    </div>
                </div>
            </div>
        </div>

        

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large light-blue darken-4">
            <i class="large material-icons">person_add</i>
        </a>
    </div>

</body>

</html>