<form class="" style="margin-top: 20px;">
    <div id="wrapper" class="panel-group">
        <div id="left-container">
            <div class="panel panel-primary">
                <div class="row input-row">
                    <div class="input-field">
                        <input id="name" type="text">
                        <label id="name-label" for="name">Meno</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Kontakt</div>
                <div class="row input-row">
                    <div class="input-field">
                        <input id="email" type="text">
                        <label id="email-label" for="email">E-mail</label>
                    </div>
                </div>
                <div class="row input-row">
                    <div class="input-field">
                        <input id="phone" type="text">
                        <label id="phone-label" for="phone">Tel. číslo</label>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Adresa</div>
                <div class="row input-row">
                    <div class="input-field col s9">
                        <input id="street" type="text">
                        <label id="street-label" for="street">Ulica</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="num" type="text">
                        <label id="num-label" for="num">Číslo</label>
                    </div>
                </div>
                <div class="row input-row">
                    <div class="input-field col s9">
                        <input id="city" type="text">
                        <label id="city-label" for="city">Mesto</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="zip" type="text">
                        <label id="zip-label" for="zip">PSČ</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-container">
            <div class="panel panel-primary">
                <div class="panel-heading">Fakturačné údaje</div>
                <div class="row input-row">
                    <div class="input-field">
                        <input id="ico" type="text">
                        <label id="ico-label" for="ico">IČO</label>
                    </div>
                </div>
                <div class="row input-row">
                    <div class="input-field">
                        <input id="icdph" type="text">
                        <label id="icdph-label" for="icdph">IČ DPH</label>
                    </div>
                </div>
                <div class="row input-row">
                    <div class="input-field">
                        <input id="dic" type="text">
                        <label id="dic-label" for="dic">DIČ</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>