<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
    <script type="text/javascript" src="/js/customer.js"></script>
</head>

<body>

    <% include ../../partials/nav-in.ejs %>

    <div class="row container">
        <p>Základné údaje</p>
    </div>
   
</body>
</html>