<form class="col s12" style="margin-top: 20px;">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="name" type="text">
                                <label id="name-label" for="name">Meno</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Kontakt</div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" type="text">
                                <label id="email-label" for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="phone" type="text">
                                <label id="phone-label" for="phone">Tel. číslo</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Adresa</div>
                        <div class="row">
                            <div class="input-field col s9">
                                <input id="street" type="text">
                                <label id="street-label" for="street">Ulica</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="num" type="text">
                                <label id="num-label" for="num">Číslo domu</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s9">
                                <input id="city" type="text">
                                <label id="city-label" for="city">Mesto</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="zip" type="text">
                                <label id="zip-label" for="zip">PSČ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>