<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
    <script type="text/javascript" src="/js/customers.js"></script>
</head>

<body>

    <% include ../../partials/nav-in.ejs %>

        <ul class="collection" style="margin-top: 0px;">
            <% customers.forEach(function(customer) { %>
                <li class="collection-item avatar black-text">
                    <p class="title">
                        <%= customer.name %>
                    </p>
                    <span>
                <%= customer.contact.email %>
                </span>
                <br>
                <span>
                    <%= customer.address %>
                </span>
                <a href="/customer/<%= customer._id %>" class="secondary-content"><i class="material-icons">menu</i></a>
            </li>
        <% }); %>
    </div>

    <div class="fixed-action-btn">
        <a id="add" class="btn-floating btn-large light-blue darken-4">
            <i class="large material-icons">person_add</i>
        </a>
    </div>

</body>

</html>