<!DOCTYPE html>
<html>

<head>
        <% include ../../partials/header.ejs %>
        <script type="text/javascript" src="/js/customer-input.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/customer-new.css" />
</head>

<body>

    <% include ../../partials/nav-in.ejs %>

        <div class="row">
            <div class="row col s12 light-blue darken-4 white-text">
                <h5>Vytvoriť zákazníka</h5>
            </div>
            <% include ./customer-input.ejs %>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large light-blue darken-4">
                <i id="create" class="large material-icons">save</i>
            </a>
        </div>

</body>

</html>