input {
    margin: 0 !important;
}



.input-row {
    margin-bottom: 0;
    padding: 10px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

#left-container {
    padding: 15px;
    width: 50%;
    float: left;
}

#right-container {
    padding: 15px;
    width: 50%;
    float: left;
}

@media only screen and (max-device-width: 480px) {
    
    #left-container {
        float: none;
        width: 100%;
    }

    #right-container {
        padding-top: 0;
        float: none;
        width: 100%;
    }
}