
 /* Header - Day of the week */
 .picker__weekday-display { background-color: #01579b;}
 /* Body - Today info */
 .picker__date-display { background-color: #01579b}
 /* Buttons of actions */
 .picker__nav--prev:hover { background-color: #01579b; }
 .picker__nav--next:hover { background-color: #01579b; }
 .picker__today { color: #01579b; }
 .picker__clear { /* If you want to customize */ }
 .picker__close { color: #01579b; }
 .btn-flat.picker__today:active { background-color: #01579b; }
 .btn-flat.picker__close:active { background-color: #01579b; }
 .btn-flat.picker__clear:active { background-color: #01579b; }
 /* Select months of the year */
 .picker__select--month.browser-default {
   background-color: #FFFFFF;
 }
 /* Every month of the year except: today */
 .picker__day { /* If you want to customize */ }
 .picker__day:hover { /* If you want to customize */ }
 .picker__day--infocus:hover { color: #01579b; }
 .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { 
     color: white;
 }
 .picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #01579b; }
 /* Today */
 .picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #01579b; }
 .picker__day.picker__day--today 
 { color: #01579b; }