
[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
	background-color: #01579b;
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
	border: 2px solid #01579b;
	background-color: #01579b;
}

.tabs .indicator {
    background-color: #01579b;
}

.navbar-inverse {
    background-color: #01579b;
    border-color: #01579b;
}

.user-input {
  margin-top: 20px;
}

.input-field input:focus + label {
   color: #03a9f4 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #03a9f4 !important;
   box-shadow: 0 1px 0 0 #03a9f4 !important
 }

#facility-chips input:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important
}

 .collection .collection-item.avatar {
    padding-left: 20px;
}

.header-layer {
  box-shadow: 0 4px 2px -2px gray;
}

.input-field textarea:focus + label {
  color: #2196f3 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important
}

.loader {
  position: absolute;
  width: 128px !important;
  height: 128px !important;
  top :0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.loader-box {
  position: absolute;
  width: 194px !important;
  height: 228px !important;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-color: white;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  position: fixed;
  overflow:auto;
  background-color:rgba(0,0,0,0.4);
  overflow-x: hidden;
}

.preloader-footer {
  margin-top: 190px;
  text-align: center;
}

.checkbox-blue[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid #01579b;
  background-color: #01579b;
}


.dropdown-content li > span {
  color: #01579b;
}