.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.btn-floating {
  position:fixed;
  right:0;
  bottom:0;
  margin: 10px;
}

.tabs .indicator {
    background-color: #01579b;
}

.navbar-inverse {
    background-color: #01579b;
    border-color: #01579b;
}

.user-input {
  margin-top: 20px;
}

.input-field input:focus + label {
   color: #01579b !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #01579b !important;
   box-shadow: 0 1px 0 0 #01579b !important
 }