<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <script type="text/javascript">
            var orders = JSON.parse('<%- JSON.stringify(orders) %>');
        </script>
        <script type="text/javascript" src="/dist/orders.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <% include ../../partials/nav-in.ejs %>

        <div class="fixed-action-btn">
            <a id="add" class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">note_add</i>
            </a>
        </div>

        <div class="row">
            <div class="input-field col l3 m3 s12" style="margin:20px;">
                <select id="order-select">
                    <option value="1">Všetky</option>
                    <option value="2">Prijaté</option>
                    <option value="3">Prebiehajúce</option>
                    <option value="4">Čakajúce na vyzdvihnutie</option>
                </select>
                <label>Filtrovať podľa zákazky</label>
            </div>

            <div class="input-field col l3 m3 s12" style="margin:20px;">
                <input id="from-date" type="text" readonly>
                <label for="from-date">Od</label>
            </div>
        </div>

        <div id="list-container">
            <ul id="list" class="collection" style="margin-top: 0px;">
                <% orders.forEach(function(order) { %>
                    <a href="/order/<%= order._id %>" class="customer-item collection-item avatar black-text">
                        <p class="title">
                            <%= order.description %>
                        </p>
                        <span>
                            <%= order.contact.email %>
                        </span>
                    </a>
                    <% }); %>
            </ul>
        </div>


</body>

</html>