<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <script type="text/javascript">
            var orders = JSON.parse('<%- JSON.stringify(orders) %>');
        </script>
        <script type="text/javascript" src="/scripts/angular-utils-pagination/dirPagination.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/collection.css" />
</head>

<body ng-app="Orders" ng-controller="OrdersCtrl">
    <% include ../../partials/nav-in.ejs %>

        <div class="row section">
            <div class="col l8 m8 s12 offset-l2 panel z-depth-4">
                <div input-field class="col s12">
                    <select ng-model="typeSelect.value" ng-change="typeChange()" material-select>
                        <option ng-repeat="option in typeSelect.choices">{{option}}</option>
                    </select>
                    <label>Filtrovať podľa zákazky.</label>
                </div>
                <div input-field class="col s12">
                    <select ng-model="dateSelect.value" ng-change="dateChange()" material-select>
                        <option ng-repeat="option in dateSelect.choices">{{option}}</option>
                    </select>
                    <label>Filtrovať podľa datumu</label>
                </div>
                <div input-field class="col s6 l2 m2">
                    <input id="from-date" type="text" readonly>
                    <label id="from-label" for="from-date">Od</label>
                </div>
                <div input-field class="col s6 l2 m2">
                    <input id="to-date" type="text" readonly>
                    <label id="to-label" for="to-date">Do</label>
                </div>

            </div>

            <div id="list-container" class="col l8 m8 s12 offset-l2 panel z-depth-4">
                <ul id="list" class="collection with-header">
                    <li class="collection-header light-blue darken-4 white-text">
                        <h5>Zákazky</h5>
                    </li>
                    <li class="item collection-item avatar black-text" dir-paginate="order in orders | itemsPerPage: 5" pagination-id="orders">
                        
                            <p class="title">
                                {{order.description}}
                            </p>
                            <span>{{order.contact.email}}</span><br>
                            <span>{{order.contact.phone}}</span>

                            <div class="secondary-content">
                                <span ng-if="order.state === 'arrived'" class="new badge grey" data-badge-caption="">Prijatá</span>
                                <span ng-if="order.state === 'working'" class="new badge blue" data-badge-caption="">Pracuje sa</span>
                                <span ng-if="order.state === 'done'" class="new badge red" data-badge-caption="">Čaká na vyzdvihnutie</span>
                                <span ng-if="order.state === 'pickUp'" class="new badge green" data-badge-caption="">Vyzdvihnutá</span>

                                <a href="/order-edit/{{order._id}}" class="btn-floating right hide-on-small-only brown lighten-1" style="margin-right: 20px;">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="/order/{{order._id}}" class="btn-floating right hide-on-small-only blue" style="margin-right: 20px;">
                                    <i class="material-icons">visibility</i>
                                </a>
                            </div>
                       
                    </li>
                </ul>
                <dir-pagination-controls pagination-id="orders" max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a id="add" class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">note_add</i>
            </a>
        </div>

        <script type="text/javascript" src="/dist/orders.js"></script>
</body>

</html>