<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/order/order.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/file-picker.css" />
        <script type="text/javascript" src="/scripts/angular-utils-pagination/dirPagination.js"></script>
        <script type="text/javascript">
            var customers = JSON.parse('<%- JSON.stringify(result.form.customers) %>');
            var workTypes = JSON.parse('<%- JSON.stringify(result.form.worktypes) %>');
            var orderTypes = JSON.parse('<%- JSON.stringify(result.form.ordertypes) %>');
            var facilities = JSON.parse('<%- JSON.stringify(result.form.facilities) %>');

            var edit = false;
        </script>
        <script type="text/javascript" src="/dist/order-edit.js"></script>
        <script type="text/javascript" src="/dist/order-crud.js"></script>
</head>

<body ng-app="OrderInput" ng-controller="OrderInputCtrl">

    <% include ../../partials/nav-in.ejs %>

        <% include ../../partials/loader.ejs %>

            <% include ./order-input.ejs %>


                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large light-blue darken-4">
                        <i id="create" class="large material-icons">save</i>
                    </a>
                </div>
</body>

</html>