<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/order/order.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/file-picker.css" />
        <script src="https://apis.google.com/js/api.js"></script>
        <script type="text/javascript" src="/scripts/angular-utils-pagination/dirPagination.js"></script>
        <script type="text/javascript">
            var customers = JSON.parse('<%- JSON.stringify(result.form.customers) %>');
            var workTypes = JSON.parse('<%- JSON.stringify(result.form.worktypes) %>');
            var orderTypes = JSON.parse('<%- JSON.stringify(result.form.ordertypes) %>');

            var edit = false;
        </script>
        <script type="text/javascript" src="/dist/order-edit.js"></script>
        <script type="text/javascript" src="/dist/order-crud.js"></script>
</head>

<body ng-app="OrderInput" ng-controller="OrderInputCtrl">

    <% include ../../partials/nav-in.ejs %>
        <div class="row col s12 light-blue darken-4 white-text header-layer">
            <h5 style="margin-left: 10px;">Vytvoriť zákazku</h5>
        </div>

        <div class="row">
            <div class="col s12 l6 offset-l3">
                <a id="load-photo" class="waves-effect waves-light btn light-blue darken-4">
                    <i class="material-icons left">add_a_photo</i>nahrať
                </a>
                <p>{{token}}</p>
            </div>
        </div>

        <% include ./order-input.ejs %>


            <div class="fixed-action-btn">
                <a class="btn-floating btn-large light-blue darken-4">
                    <i id="create" class="large material-icons">save</i>
                </a>
            </div>
</body>

</html>