<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/collection.css" />
    <script type="text/javascript" src="/scripts/angular-utils-pagination/dirPagination.js"></script>

</head>

<body ng-app="Settings" ng-controller="SettingsCtrl">

  <% include ../../partials/nav-in.ejs %>

    <% include ../../partials/loader.ejs %>

    <div class="row">

      <!-- order type collection -->
      <div class="col s12 l8 offset-l2 panel z-depth-4" style="margin-top: 30px;">

        <ul id="list" class="collection with-header">
          <li class="collection-header light-blue darken-4 white-text">
            <h5>Typy zákaziek</h5>
          </li>
          <li class="collection-item  black-text" dir-paginate="orderType in orderTypes | itemsPerPage:5" pagination-id="ordertypes">

            <div>
              {{orderType.name}}
              <a href="#!" class="secondary-content" style="margin-right: 20px;">
                <i ng-click="pickOrderType(orderType.name)" class="material-icons modal-trigger red-text" href="#delete-order-modal">delete</i>
              </a>
              <a href="#!" class="secondary-content">
                <i ng-click="pickOrderType(orderType.name)" class="material-icons modal-trigger" href="#edit-order-modal" style="margin-right: 15px;">edit</i>
              </a>
            </div>

          </li>
        </ul>
        <dir-pagination-controls pagination-id="ordertypes" max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>

        <div class="input-field col s12" ng-class="(newType === true)? 'z-depth-4' : ''" style="margin-bottom: 20px;">
          <div class="col s1" style="margin-top: 10px;">
            <a ng-show="!newType" ng-click="typeInput()" class="btn-floating light-blue darken-4 prefix">
              <i class="material-icons">add</i>
            </a>
            <a ng-show="newType" ng-click="typeInput()" class="btn-floating light-blue darken-4 prefix" ng-class="(newOrderName.length < 1) ? 'disabled' : ''">
              <i class="material-icons">save</i>
            </a>
          </div>
          <div class="col l11 s9 offset-s2">
            <input ng-model="newOrderName" ng-disabled="!newType" id="new-type" class="order-input" type="text">
          </div>
        </div>

      </div>

      <!-- work types collection -->
      <div class="col s12 l8 offset-l2 panel z-depth-4" style="margin-top: 30px;">

        <ul id="list" class="collection with-header">
          <li class="collection-header light-blue darken-4 white-text">
            <h5>Typy práce</h5>
          </li>
          <li class="collection-item  black-text" dir-paginate="workType in workTypes | itemsPerPage:5" pagination-id="worktypes">

            <div>
              {{workType.name}}
              <a href="#!" class="secondary-content" style="margin-right: 20px;">
                <i ng-click="pickWorkType(workType.name)" class="material-icons modal-trigger red-text" href="#delete-work-modal">delete</i>
              </a>
              <a href="#!" class="secondary-content">
                <i ng-click="pickWorkType(workType.name)" class="material-icons modal-trigger" href="#edit-work-modal" style="margin-right: 15px;">edit</i>
              </a>
            </div>

          </li>
        </ul>
        <dir-pagination-controls pagination-id="worktypes" max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>

        <div class="input-field col s12" ng-class="(newWork === true)? 'z-depth-4' : ''" style="margin-bottom: 20px;">
          <div class="col s1" style="margin-top: 10px;">
            <a ng-show="!newWork" ng-click="workInput()" class="btn-floating light-blue darken-4 prefix">
              <i class="material-icons">add</i>
            </a>
            <a ng-show="newWork" ng-click="workInput()" class="btn-floating light-blue darken-4 prefix" ng-class="(newWorkName.length < 1) ? 'disabled' : ''">
              <i class="material-icons">save</i>
            </a>
          </div>
          <div class="col l11 s9 offset-s2">
            <input ng-model="newWorkName" ng-disabled="!newWork" id="new-type" class="order-input" type="text">
          </div>
        </div>
      </div>

      <!-- facilities collection -->

      <div class="col s12 l8 offset-l2 panel z-depth-4" style="margin-top: 30px;">

        <ul id="list" class="collection with-header">
          <li class="collection-header light-blue darken-4 white-text">
            <h5>Príslušenstvo</h5>
          </li>
          <li class="collection-item  black-text" dir-paginate="facility in facilities | itemsPerPage:5" pagination-id="facilities">

            <div>
              {{facility.name}}
              <a href="#!" class="secondary-content" style="margin-right: 20px;">
                <i ng-click="pickFacility(facility.name)" class="material-icons modal-trigger red-text" href="#delete-facility-modal">delete</i>
              </a>
              <a href="#!" class="secondary-content">
                <i ng-click="pickFacility(facility.name)" class="material-icons modal-trigger" href="#edit-facility-modal" style="margin-right: 15px;">edit</i>
              </a>
            </div>

          </li>
        </ul>
        <dir-pagination-controls pagination-id="facilities" max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>

        <div class="input-field col s12" ng-class="(newFacility === true)? 'z-depth-4' : ''" style="margin-bottom: 20px;">
          <div class="col s1" style="margin-top: 10px;">
            <a ng-show="!newFacility" ng-click="facilityInput()" class="btn-floating light-blue darken-4 prefix">
              <i class="material-icons">add</i>
            </a>
            <a ng-show="newFacility" ng-click="facilityInput()" class="btn-floating light-blue darken-4 prefix" ng-class="(newFacilityName.length < 1) ? 'disabled' : ''">
              <i class="material-icons">save</i>
            </a>
          </div>
          <div class="col l11 s9 offset-s2">
            <input ng-model="newFacilityName" ng-disabled="!newFacility" id="new-type" class="order-input" type="text">
          </div>
        </div>
      </div>
      
    </div>

    <div style="height: 45%;" id="edit-order-modal" class="modal">
      <div style="margin: 20px;">
        <h5>Editovať typ zákazky</h5>
        <div class="input-field" style="margin-top: 20px;">
          <input id="edit-ordertype" type="text">
        </div>
      </div>
      <div style="float: right;">
        <a id="edit-order-type" ng-click="editOrderType()" class="modal-action waves-effect waves-green btn-flat">Potvrdiť</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Zrušiť</a>
      </div>
    </div>

    <div style="height: 45%;" id="delete-order-modal" class="modal">
      <div style="margin: 20px;">
        <h5>Vymazať typ zákazky</h5>
        <p>Potvrdením natrvalo vymažete ty zákazky zo systému.</p>
      </div>
      <div style="float: right;">
        <a id="delete-order-type" ng-click="deleteOrderType()" class="modal-action modal-close waves-effect waves-green btn-flat">Potvrdiť</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Zrušiť</a>
      </div>
    </div>

    <div style="height: 45%;" id="edit-work-modal" class="modal">
      <div style="margin: 20px;">
        <h5>Editovať typ práce</h5>
        <div class="input-field" style="margin-top: 20px;">
          <input id="edit-worktype" type="text">
        </div>
      </div>
      <div style="float: right;">
        <a id="edit-work-type" ng-click="editWorkType()" class="modal-action waves-effect waves-green btn-flat">Potvrdiť</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Zrušiť</a>
      </div>
    </div>

    <div style="height: 45%;" id="delete-work-modal" class="modal">
      <div style="margin: 20px;">
        <h5>Vymazať typ práce</h5>
        <p>Potvrdením natrvalo vymažete ty práce zo systému.</p>
      </div>
      <div style="float: right;">
        <a id="delete-work-type" ng-click="deleteWorkType()" class="modal-action modal-close waves-effect waves-green btn-flat">Potvrdiť</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Zrušiť</a>
      </div>
    </div>

    <div style="height: 45%;" id="edit-facility-modal" class="modal">
      <div style="margin: 20px;">
        <h5>Editovať príslušenstvo</h5>
        <div class="input-field" style="margin-top: 20px;">
          <input id="edit-facility" type="text">
        </div>
      </div>
      <div style="float: right;">
        <a ng-click="editFacility()" class="modal-action waves-effect waves-green btn-flat">Potvrdiť</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Zrušiť</a>
      </div>
    </div>

    <div style="height: 45%;" id="delete-facility-modal" class="modal">
      <div style="margin: 20px;">
        <h5>Vymazať príslušenstvo</h5>
        <p>Potvrdením natrvalo vymažete príslušenstvo zo systému.</p>
      </div>
      <div style="float: right;">
        <a id="delete-facility" ng-click="deleteFacility()" class="modal-action modal-close waves-effect waves-green btn-flat">Potvrdiť</a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Zrušiť</a>
      </div>
    </div>

    <script>
      $('.modal').modal();

      var closeOrderModal = function () {

        $("#edit-order-modal").modal('close');
      }

      var closeWorkModal = function () {

        $("#edit-work-modal").modal('close');
      }

      var closeFacilityModal = function () {

        $("#edit-facility-modal").modal('close');
      }

    </script>
    <script type="text/javascript">
      var orderTypes = JSON.parse('<%- JSON.stringify(settings.orderTypes) %>');
      var workTypes = JSON.parse('<%- JSON.stringify(settings.workTypes) %>');
      var facilities = JSON.parse('<%- JSON.stringify(settings.facilities) %>');
    </script>
    <script type="text/javascript" src="/dist/settings.js"></script>
</body>

</html>
<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Picker Example</title>

    <script type="text/javascript">

    // The Browser API key obtained from the Google API Console.
    // Replace with your own Browser API key, or your own key.
    var developerKey = 'AIzaSyCATpJdLXMjzH-IcDzAeCgxAk-ZC-agdhg';

    // The Client ID obtained from the Google API Console. Replace with your own Client ID.
    var clientId = '594621902662-b4e9v1girln9pv681qq6ropifl3isv8i.apps.googleusercontent.com';

    // Replace with your own project number from console.developers.google.com.
    // See "Project number" under "IAM & Admin" > "Settings"
    var appId = "594621902662";

    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive'];

    var pickerApiLoaded = false;
    var oauthToken;

    // Use the Google API Loader script to load the google.picker script.
    function loadPicker() {
      gapi.load('auth', {'callback': onAuthApiLoad});
      gapi.load('picker', {'callback': onPickerApiLoad});
    }

    function onAuthApiLoad() {
      window.gapi.auth.authorize(
          {
            'client_id': clientId,
            'scope': scope,
            'immediate': false
          },
          handleAuthResult);
    }

    function onPickerApiLoad() {
      pickerApiLoaded = true;
      createPicker();
    }

    function handleAuthResult(authResult) {
      if (authResult && !authResult.error) {
        oauthToken = authResult.access_token;
        createPicker();
      }
    }

    // Create and render a Picker object for searching images.
    function createPicker() {
      if (pickerApiLoaded && oauthToken) {
        var view = new google.picker.View(google.picker.ViewId.DOCS);
        view.setMimeTypes("image/png,image/jpeg,image/jpg");
        var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(appId)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
         picker.setVisible(true);
      }
    }

    // A simple callback implementation.
    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        var fileId = data.docs[0].id;
        alert('The user selected: ' + fileId);
      }
    }
    </script>
  </head>
  <body>
    <div id="result"></div>
  -->
<!-- The Google API Loader script. -->
<!--<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
    
    </body>
</html>
    -->