<!DOCTYPE html>
<html>

<head>

    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav-in.ejs %>

        <div class="row">
            <div class="row col s12 light-blue darken-4 white-text">
                <h5>Daná stránka sa nenašla.</h5>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>404</h1>
                <p>Stránka <span style="font-style: italic;"><%= url %></span>, ktorú sa snažíte otvoriť, sa nenašla.</p>
            </div>
        </div>

</body>

</html>