#right-container {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 5px solid #97BACE;
}

#left-container {
    padding-top: 20px;
}

#find-customer {
    margin: 20px 10px 10px 10px;
}

#done-customer {
    margin: 10px;
}

#done-span {
    margin-left: 10px;
    margin-bottom: 10px;
}

#select-customer {
    margin: 10px;
}

.collapsible-body {
    padding: 0;
}

.customer-input {
    margin: 0 !important;
}



@media only screen and (max-device-width: 480px) {
    
    #right-container {
        border-right: none;
    }

    #left-container {
        padding-top: 0;
    }

    .row .col.s6 {
        width: 100%;
    }

    .row .col.s5 {
        width: 50%;
    }

    #price-div {
        width: 50%;
    }

    .label {
        font-size: 50%;
    }
}

