<head>
        <% include ../../partials/header.ejs %>
            <script type="text/javascript" src="/js/customer.js"></script>
            <link rel="stylesheet" type="text/css" href="/stylesheets/customer.css" />
    </head>
    
    <body>
    
        <% include ../../partials/nav-in.ejs %>
    
        <div class="row col s12 light-blue darken-4 white-text header-layer">
            <h5 style="margin-left: 10px;">Nastavenia</h5>
        </div>

    </body>
    
    </html>