<div class="loader-wrapper col s3">
    <div class="loader-box">
        <div class="preloader-wrapper big active loader">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="preloader-footer">
            <p class="preloader-info"></p>
        </div>
    </div>
</div>