<ul id="dropdown1" class="dropdown-content">
  <li><a href="/customer-new" class="black-text">Pridať</a></li>
  <li class="divider"></li>
  <li><a href="/customer/all" class="black-text">Zoznam</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="/customer-new" class="black-text">Pridať</a></li>
  <li class="divider"></li>
  <li><a href="/customer/all" class="black-text">Zoznam</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
    <li><a href="/order-new" class="black-text">Pridať</a></li>
    <li class="divider"></li>
    <li><a href="/order/all" class="black-text">Zoznam</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
    <li><a href="/order-new" class="black-text">Pridať</a></li>
    <li class="divider"></li>
    <li><a href="/order/all?sort=ascending" class="black-text">Zoznam</a></li>
</ul>


<!--<div class="navbar-fixed">-->
    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            
           
            <a href="#!" class="brand-logo hide-on-med-and-up" ><img width="120px" height="40px" src="/pap_logo_white.png"></a>
            <a href="#!" class="brand-logo left hide-on-small-only" ><img width="120px" height="40px" src="/pap_logo_white.png"></a>
    
            <!--<img src="/pap_logo_white.png">-->
            
            <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-small-only">
                <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown3">Zákazky<i class="material-icons right white-text">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown1">Zákazníci<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="white-text" href="/settings">Nastavenia</a></li>
                <li><a href="/stats" class="white-text">Prehľad</a></li>
                <li><a class="white-text" href="/logout">Odhlásiť sa</a></li>
            </ul>
            <ul class="sidenav light-blue darken-4 hide-on-med-and-up" id="mobile-demo" style="width: 200px;">
                <div class="divider" style="margin-top: 50px;"></div>
                <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown4">Zákazky<i class="material-icons right white-text">arrow_drop_down</i></a></li>
                <div class="divider"></div>
                <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown2">Zákazníci<i class="material-icons right white-text">arrow_drop_down</i></a></li>
                <div class="divider"></div>
                <li><a href="/settings" class="white-text">Nastavenia</a></li>
                <div class="divider"></div>
                <li><a href="/stats" class="white-text">Prehľad</a></li>
                <div class="divider"></div>
                <li><a class="white-text" href="/logout" class="white-text">Odhlásiť sa</a></li>
                <div class="divider"></div>
            </ul>
        </div>
    </nav>
<!--</div>-->
