<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>

     
        <link rel="stylesheet" type="text/css" href="/stylesheets/collection.css" />
      
        <script type="text/javascript" src="/scripts/angular-utils-pagination/dirPagination.js"></script>
</head>

<body ng-app="Customers" ng-controller="CustomersCtrl">

    <% include ../../partials/nav-in.ejs %>

        <div class="row section">

            <div class="col s12 l8 offset-l2 panel z-depth-4">
                <div class="col l3 s6">
                    <div class="input-field">
                        <select ng-model="sortSelect.value" ng-change="sortChange()">
                                <option value="Vzostupne">Vzostupne</option>
                                <option value="Zostupne">Zostupne</option>
                        </select>
                        <label>Podľa abecedy</label>
                    </div>
                </div>
                <div class="col l3 s6">
                    <div class="input-field">
                        <select ng-model="orderSelect.value" ng-change="orderChange()">
                            <option value="Všetky">Všetky</option>
                            <option value="Prijaté">Prijaté</option>
                            <option value="Prebiehajúce">Prebiehajúce</option>
                            <option value="Čakajúce na vyzdvihnutie">Čakajúce na vyzdvihnutie</option>
                            <option value="Vyzdvihnuté">Vyzdvihnuté</option>
                        </select>
                        <label>Podľa zákazky</label>
                    </div>
                </div>
                <div class="col s12">
                    <div class="input-field">
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Hľadať zákazníka</label>
                    </div>
                </div>
                <div class="col s12">
                        <div class="input-field">
                                <div id="test-slider" class="noUi-target"></div>
                        </div>
                    
                </div>
            </div>

            <div id="list-container" class="col s12 l8 offset-l2 panel z-depth-4">
                <ul id="list" class="collection with-header">
                    <li class="collection-header light-blue darken-4 white-text">
                        <h5>Zákazníci</h5>
                    </li>
                    <li class="item collection-item avatar black-text" dir-paginate="customer in customers | itemsPerPage:20" pagination-id="customers" ng-click="clickCustomer(customer._id)">

                        <div>
                            <p class="title">{{customer.fullName}}</p>
                            <p ng-if="customer.company">{{customer.company.contactPerson.phone}}</p>
                            <p ng-if="customer.person">{{customer.person.phone}}</p>

                            <div class="right secondary-content">
                                <a href="/customer-edit/{{customer._id}}" class="btn-floating green lighten-1" style="margin-right: 20px;">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="/customer/{{customer._id}}" class="btn-floating hide-on-small-only blue" style="margin-right: 20px;">
                                    <i class="material-icons">visibility</i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <dir-pagination-controls pagination-id="customers" max-size="20" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a id="add" ng-click="newCustomer()" class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">person_add</i>
            </a>
        </div>

        <script type="text/javascript">
        
        </script>
        <script type="text/javascript" src="/dist/customers.js"></script>
</body>

</html>