<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
        <script type="text/javascript" src="/dist/customer-input.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/customer-new.css" />
</head>

<body>

    <% include ../../partials/nav-in.ejs %>

        <div class="row">
            <div class="row col s12 light-blue darken-4 white-text">
                <h5>Upraviť zákazníka</h5>
            </div>
            <% include ./customer-input.ejs %>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large light-blue darken-4">
                <i id="update" class="large material-icons">save</i>
            </a>
        </div>

        <script>
            window.onload = function () {

                var customer = JSON.parse('<%- JSON.stringify(customer) %>');

                localStorage.setItem('updateId', customer._id);

                var firstName = document.getElementById('first');
                var firstLabel = document.getElementById('first-label');

                var lastName = document.getElementById('last');
                var lastLabel = document.getElementById('last-label');

                firstLabel.className = "active";
                lastLabel.className = "active";

                firstName.value = customer.firstName;
                lastName.value = customer.lastName;

                if (customer.contact) {
                    if (customer.contact.email) {
                        $('#email-label').addClass('active');
                        $('#email').val(customer.contact.email);
                    }
                    if (customer.contact.phone) {
                        $('#phone-label').addClass('active');
                        $('#phone').val(customer.contact.phone);
                    }
                }
                if (customer.address) {
                    if (customer.address.street) {
                        $('#street-label').addClass('active');
                        $('#street').val(customer.address.street);
                    }
                    if (customer.address.streetNumber) {
                        $('#num-label').addClass('active');
                        $('#num').val(customer.address.streetNumber);
                    }
                    if (customer.address.city) {
                        $('#city-label').addClass('active');
                        $('#city').val(customer.address.city);
                    }
                    if (customer.address.zipCode) {
                        $('#zip-label').addClass('active');
                        $('#zip').val(customer.address.zipCode);
                    }
                }
                if (customer.billData) {
                    if (customer.billData.ICO) {
                        $('#ico-label').addClass('active');
                        $('#ico').val(customer.billData.ICO);
                    }
                    if (customer.billData.ICDPH) {
                        $('#icdph-label').addClass('active');
                        $('#icdph').val(customer.billData.ICDPH);
                    }
                    if (customer.billData.DIC) {
                        $('#dic-label').addClass('active');
                        $('#dic').val(customer.billData.DIC);
                    }
                }
            }
        </script>

</body>

</html>