<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>

        <link rel="stylesheet" type="text/css" href="/stylesheets/collection.css" />
</head>

<body ng-app="Customers" ng-controller="CustomersCtrl">

    <% include ../../partials/nav-in.ejs %>

        <div class="row">

            <div class="section col s3" style="margin:20px;">
                <div input-field>
                    <select ng-model="sortSelect.value" ng-change="sortChange()" material-select>
                        <option ng-repeat="option in sortSelect.choices">{{option}}</option>
                    </select>
                    <label>Filtrovať podľa abecedy</label>
                </div>
            </div>
            <div class="section col s3" style="margin:20px;">
                <div input-field>
                    <select ng-model="orderSelect.value" ng-change="orderChange()" material-select>
                        <option ng-repeat="option in orderSelect.choices">{{option}}</option>
                    </select>
                    <label>Filtrovať podľa zákazky</label>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <a id="search" class="btn green lighten-1">
                    <i class="material-icons left">search</i>Hľadať</a>
            </div>
        </div>
        <div class="row">
            <div id="list-container" class="col s12">
                <ul id="list" class="collection" style="margin-top: 0px;">

                    <li class="item collection-item avatar black-text" ng-repeat="customer in customers">

                        <div>
                            <p class="title">{{customer.fullName}}</p>

                            <div class="right secondary-content">
                                <a href="/customer-edit/{{customer._id}}" class="btn-floating hide-on-small-only brown lighten-1" style="margin-right: 20px;">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="/customer/{{customer._id}}" class="btn-floating hide-on-small-only blue" style="margin-right: 20px;">
                                    <i class="material-icons">visibility</i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fixed-action-btn">
            <a id="add" class="btn-floating btn-large light-blue darken-4">
                <i class="large material-icons">person_add</i>
            </a>
        </div>

        <script type="text/javascript">
            var customers = JSON.parse('<%- JSON.stringify(customers) %>');
        </script>
        <script type="text/javascript" src="/dist/customers.js"></script>
</body>

</html>